img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20%;
    height: 50%;
    width: 20%;
    
}



.searchbar{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    width: 400px;
    border-radius: 50px;
    border: 2px ridge red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.searchbar:focus {
    outline: none;
}

input[type=submit]{
    color: red;
    border: 1px solid red;
    background-color: aqua;
    padding:15px;
    
}
input[type=submit]:hover{
    background-color: red;
    color: aqua;
    
}


.footer{
    font-size: 21px;
    width: 100%;
    background-color: aqua;
}

.left{
    position: fixed;
    bottom: 0;
    left: 0;    
}
.right{
    position: fixed;
    bottom: 0;
    right: 0;
}



a:hover{
    color:aqua;
}
a{
    text-decoration: none;
    color: red;
    padding-left: 3px;
}
header{
    margin-left: 90%;
}